<h1>Employees</h1>
<hr />

<table width = "600" cellpadding = "6" cellspacing = "5" bgcolor = "lightyellow">
  <thead>
    <td><b><u>Employee Name</u></b></th>
    <td><b><u>Email Address</u></b></th>
  </thead>

  <tbody>
    <tr>
      <td> <%= @employee.name %> </td>
      <td><a href="mailto:<%@employee.email_address%>"> <%= @employee.email_address %></a></td>
    </tr>
  </tbody>

</table>

<table width = "600" cellpadding = "6" cellspacing = "5" bgcolor = "lightyellow"
  <thead>
    <td><b><u>Date</u></b></th>
    <td><b><u>Customer</u></b></th>
    <td><b><u>Invoice No.</u></b></th>
    <td><b><u>Sale Amount</u></b></th>
  </thead>

  <tbody>
      <% @employee.sales.all.each do |sale| %>
    <tr>
      <td> <%= sale.sale_date %> </td>
      <td> <%= sale.customer.name %> </td>
      <td> <%= sale.invoice_no %> </td>
      <td> <%= sale.sale_amount %> </td>
    </tr>
      <% end %>
  </tbody>
</table>