<h1>Sales</h1>
<hr />

<table width = "600" cellpadding = "5" cellspacing = "25" bgcolor = "lightyellow">
  <thead>
    <th>Employee Name</th>
    <th>Customer and Account Number</th>
    <th>Product</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Quantity</th>
    <th>Invoice #</th>
    <th>Billing Frequency</th>
  </thead>

  <tbody>
      <% @sales.each do |sale| %>
    <tr>
      <td> <%= sale.employee_id %> </td>
      <td> <%= sale.customer_id %> </td>
      <td> <%= sale.product_id %> </td>
      <td> <%= sale.sale_date %> </td>
      <td> <%= sale.sale_amount %> </td>
      <td> <%= sale.units_sold %> </td>
      <td> <%= sale.invoice_no %> </td>
      <td> <%= sale.frequency_id %> </td>
    </tr>
    <% end %>
  </tbody>

</table>